@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@font-face {
    font-family: "Cabin";
    src: url("fonts/Cabin-VariableFont_wdth,wght.ttf");
}
@font-face {
    font-family: "Cabin";
    src: url("fonts/Cabin-Italic-VariableFont_wdth,wght.ttf");
    font-style: italic;
}
@font-face {
    font-family: "KaushanScript";
    src: url("fonts/KaushanScript-Regular.ttf");
}

.marker {
    --marker-color: transparent;
    --color-spread: 1.08;
    color: var(--marker-color); /* for radio buttons */
    background-color: var(--marker-color);
}
span.marker, input.marker:not(:checked) {
    /* radial gradient from a slightly brighter center to a slightly darker edge */
    background-image: radial-gradient(closest-side, oklch(from var(--marker-color) calc(l * var(--color-spread)) c h), oklch(from var(--marker-color) calc(l / var(--color-spread)) c h));
}
.marker.gray {
    --marker-color: var(--color-stone-600);
    --color-spread: 1.14;
}
.marker.red {
    --marker-color: var(--color-rose-600);
}
.marker.yellow {
    --marker-color: var(--color-amber-500);
    --color-spread: 1.06;
}
.marker.green {
    --marker-color: var(--color-emerald-600);
}
.marker.blue {
    --marker-color: var(--color-blue-600);
}
.marker.purple {
    --marker-color: var(--color-purple-600);
}
.marker.none {
    background-image: none !important;
}
input.marker.none {
    --marker-color: var(--color-stone-100);
}
input.marker:checked {
    border-color: var(--marker-color);
}

.no-scrollbar::-webkit-scrollbar { /* Chrome, Safari, Opera */
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@theme {
    --animate-spin-slow: spin 9s linear infinite;
    --animate-updated: updated 1s cubic-bezier(0.4, 0, 1, 1) 500ms;
    --font-sans: Cabin, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-kaushanScript: KaushanScript;
    --grid-cases: 8.9rem 2.75rem 1fr;
    --grid-cases-md: 8.9rem 2.75rem 1fr 6rem;
    --grid-cases-lg: 8.9rem 2.75rem 3fr 2fr 6rem 6rem;

    @keyframes updated {
        0%, 100% {}
        50% {
            background-color: var(--color-teal-700);
        }
    }
}
